.hero {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding: 80px;
}

.hero-image {
  position: relative;
}

.yellow-box {
  width: 180px;
  height: 220px;
  background: #ffd000;

  position: absolute;
  top: 20px;
  left: -20px;
  z-index: 1;
}

.hero-image img {
  width: 260px;
  position: relative;
  z-index: 2;
  border: 6px solid #111;
}

.hero-content h1 {
  font-size: 70px;
  line-height: 0.9;
  font-weight: 900;
}

.hero-content p {
  margin-top: 20px;
  max-width: 400px;
  color: #555;
}

.hero-content button {
  margin-top: 25px;
  padding: 12px 25px;
  border: none;
  background: #ffd000;
  font-weight: bold;
  cursor: pointer;
}